# Proyecto Final

# Estudio de emisiones de Dioxido de Carbono

Se tiene un set de datos contenido en un archivo del tipo csv. El archivo es 'emisions_co2.csv'.

# Pregunta 0

Carga el archivo 'emisions_co2.csv' en un data.frame

In [9]:
# Se lee el archivo hacia un data frame 
emisions_co2_thousand_metric <- read.csv("emisions_co2.csv",  
                  header = TRUE, sep = ",") 
    
# Printing content of Text File 
class(emisions_co2_thousand_metric)

[1] "data.frame"

In [10]:
head(emisions_co2_thousand_metric)

  CO2.emission.estimates Year
1 Albania                1975
2 Albania                1985
3 Albania                1995
4 Albania                2005
5 Albania                2010
6 Albania                2015
  Series                                             Value
1 Emissions (thousand metric tons of carbon dioxide) 4338.334
2 Emissions (thousand metric tons of carbon dioxide) 6929.926
3 Emissions (thousand metric tons of carbon dioxide) 1848.549
4 Emissions (thousand metric tons of carbon dioxide) 3825.184
5 Emissions (thousand metric tons of carbon dioxide) 3930.295
6 Emissions (thousand metric tons of carbon dioxide) 3824.801

# Pregunta 1

Cuántas filas tiene el dataframe 'emisions_co2_thousand_metric'?

In [11]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 2

Cuál en el valor más alto de emisiones (en general) usando el dataframe 'emisions_co2_thousand_metric'?

In [12]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 3

Cuántos estados hay en el dataframe 'emisions_co2_thousand_metric'?

In [13]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 4

Cuál es el estado que tiene mayor emisiones usando el dataframe 'emisions_co2_thousand_metric'?

In [14]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 5

Cuál es el año que tiene mayor emisiones para el estado de Spain usando el dataframe 'emisions_co2_thousand_metric'?

In [15]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 6

Cuáles son los años que se tiene registros para el dataframe 'emisions_co2_thousand_metric'?
entrege un vector con los años sin repetirse

In [16]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 7

Cuántas son las emisiones en total en 'toneladas métricas' sólo para Albania usando el dataframe 'emisions_co2_thousand_metric'?

In [17]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 8

Cuántas son las emisiones en 'libras' sólo para Costa Rica usando el dataframe 'emisions_co2_thousand_metric'?

In [18]:
# Coloque el código que responda a la pregunta aqui

# Pregunta 9

Para sólo los países de Centroamérica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un gráfico de barras por año de las emisiones totales en Centroamérica usando el dataframe 'emisions_co2_thousand_metric'?

In [19]:
# Coloque el código que responda a la pregunta aqui